<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a class="nav-link" routerLink="/">Home</a>
            </div>
            <div class="col-sm">
                <a class="nav-link" routerLink="/categories">Categories</a>
            </div>
            <div class="col-sm">
                <a class="nav-link" routerLink="/accounts">Accounts</a>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>