.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 50px;
}

.App-title {
  font-size: 1.5em;
}

textarea {
  width: 500px;
  max-width: 90%;
  min-height: 150px;
  font-size: 1em;
  box-sizing: border-box;
}

button {
  display: inline-block;
}

button[type="submit"] {
  padding: 10px 30px;
  font-size: 1.2em;
  background: black;
  color: white;
  margin-top: 15px;
  border-radius: 10px;
  border-width: 0 0 2px 2px;
  border-color: #777;
}

.form-status {
  padding: 20px;
  width: 500px;
  max-width: 90%;
  margin: 20px auto;
  box-sizing: border-box;
}

.form-status.success {
  background: #bdf9b2;
  color: #109010;
}

.form-status.error {
  background: #fbb7b7;
  color: #9e2020;
}

.dismiss {
  border: none;
  background: none;
  text-decoration: underline;
  margin-top: 10px;
}