<div class="bg-light">
    <section class="container">
        <div class="row">
            <div class="col py-3">
                <h2>{{ (editing) ? 'Edit' : 'New' }} Category</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form [formGroup]="form" (ngSubmit)="submitForm()" *ngIf="form" class="form.group">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" formControlName="name" placeholder="Category name">
                    </div>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" formControlName="icon" placeholder="Icon">
                    </div>
                    <div class="py-3">
                        <h4>Parent category</h4>
                        <div class="py-3">
                            <label class="py-2" *ngFor="let category of categories">
                                <input type="radio" formControlName="parent" [value]="category.id">
                                {{category.name}}
                            </label>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success btn-lg rounded-0 mb-2">ADD</button>
                        <button type="button" class="btn btn-outline-danger rounded-0 mb-2" routerLink="../">Cancel</button>
                        <button type="button" *ngIf="editing" class="btn btn-danger btn-lg rounded-0 mb-2" (click)="deleteCategory()">DELETE</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>