form {
    padding: 0 0 40px 0;

    .col-8 {
        padding: 0 4px 0 0;
    }

    .col-4 {
        padding: 0 0 0 4px;
    }
}

.input-group {
    margin-bottom: 8px;

    button {
        min-width: 120px;
    }
}

button {
    width: 100%;
}

label {
    margin: 0;
    display: flex;
    font-size: 16px;
    align-items: center;
    height: 100%;
    padding: 0 16px;

    input {
        margin-right: 8px;
        position: relative;
        top: -1px;
    }
}