<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'open': visible}">

    <div class="modal-dialog rounded bg-white border-light" role="document">

        <div class="modal-content border-dark d-flex flex-column">

            <div class="modal-header bg-info">
                    
                <h5 class="modal-title text-white">Select a category</h5>
                <button type="button" class="close" aria-label="Close" (btnClick)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
    
            </div>

            <div class="modal-body">
                <div class="card">

                    <div *ngFor="let category of categories; let last = last; trackBy: trackCategories">

                        <div class="input-group" [ngClass]="{'border-0': last}">
                            <div class="form-control border-0 rounded-0 bg-light p-3" (click)="selectCategory(category)">
                                <i class="material-icons">{{category.icon}}</i> {{category.name}}
                            </div>
                            <div class="input-group-btn" *ngIf="category?.subcategories?.length">
                                <button type="button" class="btn btn-primary rounded-0" (click)="toggleSubcategories(category.id)"><i class="material-icons">expand_more</i></button>
                            </div>
                        </div>

                        <div class="subcategories card border-0 rounded-0" 
                            *ngIf="category?.subcategories?.length"
                            [@show]="showSubcategories[category.id] ? true : false">
                            <div *ngFor="let sub of category.subcategories; trackBy: trackCategories">
                                <div class="input-group">
                                    <div class="form-control border-0 p-3" (click)="selectCategory(sub)">
                                        <i class="material-icons">{{sub.icon}}</i> {{sub.name}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<button type="button" class="btn btn-lg btn-info select-btn" (click)="openModal()">
    <i class="material-icons">{{(selectedCategory) ? selectedCategory.icon : 'shopping_cart'}}</i> 
    {{(selectedCategory) ? selectedCategory.name : 'Select a category'}}
</button> 