.open {
    display: block;
}

.select-btn {
    width: 100%;
}

.modal {
    background-color: rgba(0,0,0,.7);
    

    .modal-dialog {
        margin: 2.5% auto;
        height: 97%;
        width: 95%;

        .modal-content {
            height: 100%;
        }

        .modal-body {
            overflow-y: scroll;

            .form-control {
                cursor: pointer;

                .material-icons {
                    margin-right: 8px;
                }
            }

            .input-group {
                border-bottom: 1px solid rgba(0,0,0,.125);

                &.border-0 {
                    border: none;
                }
            }

            .input-group-btn {
                z-index: 5;
            }

            .subcategories {
                overflow: hidden;
            }
        }

        .modal-header {
            flex-shrink: 0;
        }
    }
}