<div class="bg-white">
    <section class="container">
        <div class="row">
            <div class="col py-3">
                <h2>Categories</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="border">
                    <div *ngFor="let category of categories; let last = last; trackBy: trackCategories">
                            
                        <div class="input-group" [ngClass]="{'border-0': last && !category.subcategories.length}">
                            <div class="form-control border-0 rounded-0 bg-light p-3">
                                <i class="material-icons">{{category.icon}}</i> {{category.name}}
                            </div>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary rounded-0" [routerLink]="['edit', category.id]"><i class="material-icons">mode_edit</i></button>
                            </div>
                        </div>
    
                        <div class="subcategories card border-0 rounded-0" *ngIf="category?.subcategories?.length">
                            <div *ngFor="let sub of category.subcategories; last as lastSub trackBy: trackCategories">
                                <div class="input-group" [ngClass]="{'border-0': last && lastSub}">
                                    <div class="form-control border-0 rounded-0 bg-white p-3">
                                        <i class="material-icons">{{sub.icon}}</i> {{sub.name}}
                                    </div>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-info rounded-0" [routerLink]="['edit', sub.id]"><i class="material-icons">mode_edit</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-white fixed">
            <div class="col p-3">
                <button type="button" class="btn btn-primary btn-block btn-lg rounded-0" routerLink="new"><i class="material-icons">control_point</i> New category</button>
            </div>
        </div>
    </section>
</div>