.open {
    display: block;
}

.select-btn {
    width: 100%;
}

.container {
    padding-bottom: 80px;
}

.form-control {
    cursor: pointer;

    .material-icons {
        margin-right: 8px;
    }
}

.input-group {
    border-bottom: 1px solid rgba(0,0,0,.125);

    &.border-0 {
        border: none;
    }
}

.input-group-btn {
    z-index: 5;
}

.row {
    &.fixed {
        position: fixed;
        bottom: 0;
        z-index: 100;
        width: 100%;
        left: 15px;
    }
}