<div class="bg-light">
    <section class="container">
        <form [formGroup]="form" (ngSubmit)="submitForm()" *ngIf="form" class="form.group">

            <div class="input-group input-group-lg">
                <span class="input-group-addon">£</span>
                <input type="number" step=".01" class="form-control" formControlName="amount" placeholder="0.00" aria-label="Amount (to the nearest pound)">
                <span class="input-group-addon p-0" [ngClass]="{'bg-primary text-white': form.value.income}">
                    <label><input type="checkbox" formControlName="income"> Income</label>
                </span>
            </div>

            <input type="text" class="form-control form-control-lg mb-2" formControlName="description" placeholder="Description...">

            <div class="container-fluid" *ngIf="editing">
                <div class="row">
                    <div class="col px-0 pb-2">
                        <select class="form-control form-control-lg" formControlName="year">
                            <option *ngFor="let y of years" [ngValue]="y">{{y}}</option>
                        </select>
                    </div>
                    <div class="col px-2 pb-2">
                        <select class="form-control form-control-lg" formControlName="month">
                            <option *ngFor="let m of months; index as index" [ngValue]="index">{{m}}</option>
                        </select>
                    </div>
                    <div class="col px-0 pb-2">
                        <select class="form-control form-control-lg" formControlName="day">
                            <option *ngFor="let d of days" [ngValue]="d">{{d}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-8">
                        <select-category></select-category>
                    </div>
                    <div class="col-4">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-success btn-lg">{{ (editing) ? 'SAVE' : 'ADD' }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>