<div class="spacing">
    <section class="container">

        <section class="card mb-3" *ngFor="let day of transactions; index as index; trackBy: trackTransactionsByDay">
            <div [@show] class="card-header" (click)="toggleDays(index)" [ngClass]="{'border-0': showDays[index]}">
                <div class="date">
                    <h2 class="mb-0 mr-3">{{day.date | date:'d'}}</h2>
                    <div>
                        <h5 class="m-0">{{day.date | date:'EEEE'}}</h5>
                        <h6 class="m-0">{{day.date | date:'MMMM y'}}</h6>
                    </div>
                </div>
                <div class="totals mx-3">
                    <p class="text-danger m-0">{{day.outcome | currency:'GBP':true:'1.0-2'}}</p>
                    <p class="text-success m-0">{{day.income | currency:'GBP':true:'1.0-2'}}</p>
                    <p class="m-0" [ngClass]="{'text-danger': day.total < 0, 'text-success': day.total >= 0}">{{day.total | currency:'GBP':true:'1.0-2'}}</p>
                </div>
                <i class="material-icons">{{( showDays[index] ) ? 'expand_less' : 'expand_more'}}</i>
            </div>
            <div [@show]="showDays[index] ? false : true" class="list-group list-group-flush">
                <div [@show] 
                    class="list-group-item p-0" 
                    *ngFor="let transaction of day.transactions; trackBy: trackTransactions"
                    [routerLink]="['edit', transaction.id]">
                    <div class="transaction d-flex p-3" [ngClass]="{'income': transaction.income}">
                        <span class="badge pr-4">
                            <i class="material-icons md-48">{{getCategoryIcon(transaction.category)}}</i>
                        </span>
                        <div>
                            <p class="m-0" *ngIf="transaction.description">{{transaction.description}}</p>
                            <!--span class="time">{{transaction.timestamp | date:'HH:mm'}}</span-->
                        </div>
                        <h3>{{transaction.amount | currency:'GBP':true:'1.0-2'}}</h3>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>