h3 {
    align-items: center;
    margin-bottom: 2px;
    font-size: 20px;

    span {
        font-size: 14px;
        font-weight: normal;
        color: #cdcdcd;
        padding-left: 16px;
        flex-grow: 1;
        text-align: right;
    }
}

p {
    text-transform: capitalize;
    color: #444; 
}

.spacing {
    padding: 40px 0;
}

.card-header {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    color: #333;

    .date {
        display: flex;
        flex-grow: 1;
        align-items: center;
    
        h5 {
            font-size: 15px;
        }
    
        h6 {
            font-size: 13px;
            color: #777;
        }
    }

    .totals {
        p {
            font-size: 11px;
            text-align: right;
        }
    }
}

.list-group {
    overflow: hidden;

    .list-group-item {
        border: none;

        .transaction {
            align-items: center;
            color: #444;
        
            > div {
                flex-grow: 1;
            }
        
            .material-icons {
                font-size: 28px;
                border-radius: 50%;
                border: 2px solid;
                padding: 5px;
            }
        
            &.income {
                background-color: #edf9f0;
                color: #28a745;
            }
        
            .time {
                color: #888;
                font-style: italic;
                font-size: 13px;
            }
        }
    }
}
