.widget {
  padding: 25px;
}

.post {
  background: #f1f1f1;
  padding: 15px;
  margin: 15px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
}

.post .user {
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.post .user span {
  font-weight: normal;
  font-style: italic;
  font-size: 0.8em;
}

.load-more-container {
  text-align: center;
}

button.load-more {
  padding: 10px 30px;
  font-size: 1.2em;
  background: black;
  color: white;
  margin-top: 15px;
  border-radius: 10px;
  border-width: 0 0 2px 2px;
  border-color: #777;
}

.form-status {
  padding: 20px;
  width: 500px;
  max-width: 90%;
  margin: 20px auto;
  box-sizing: border-box;
}

.form-status.success {
  background: #bdf9b2;
  color: #109010;
}

.form-status.error {
  background: #fbb7b7;
  color: #9e2020;
}

.dismiss {
  border: none;
  background: none;
  text-decoration: underline;
  margin-top: 10px;
}